<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" suk=".NETFramework,Version=v4.0" />
    <requiredRuntime version="v4.0.20506" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
    <connectionStrings>
  <add name="DueManagementEntity" connectionString="metadata=res://*/EntityFramework.Model1.csdl|res://*/EntityFramework.Model1.ssdl|res://*/EntityFramework.Model1.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=|DataDirectory|\DueManagementSystemDatabase.s3db&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>